:root {
    --nav-width: 240px;
    --c-header: #0D0D0D;
    --c-main: #222222;
    --c-child: #363636;
    --c-button: #977E08;
    --c-text-light: #F0F0F0;
    --c-text-dark: #0F0F0F;
    --c-button: #EBC302;
}

button {
    background-color: var(--c-button);
    color: var(--c-text-dark);
    border: 0;
    padding: 8px 16px;
}
button:hover {
    filter: brightness(200%);
}

* {
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--c-main);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 100vh;
    width: var(--nav-width);
    padding: 0 20px 20px 20px;
    background-color: var(--c-header);
}

header * {
    outline-offset: -1px;
}


header > button {
    top: 0;
    display: block;
    margin: 30px auto 10px auto;
}

.overflow {
    overflow: hidden;
}

.header-logo {
    font-size: 1.7em;
    font-weight: 100;
    letter-spacing: -0.15em;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    color: var(--c-text-light);
    display: block;
    margin: 20px 0;
    margin-bottom: 20px;
}

.header-nav {
    text-align: center;
}

.header-nav > a {
    display: block;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--c-text-light);;
    padding: 5px 0;
}

.header-closed {
    width: 0;
    padding: 0;
}
.main-closed {
    margin-left: 0;
}
.header-button-closed {
    position: fixed;
    margin: 30px;
}

main {
    margin-left: var(--nav-width);
    height: 100vh;
}

.text {
    padding: 100px;
    margin: auto;
    width: 50%;
    color: var(--c-text-light);
}

.text > h1 {
    margin-bottom: 30px;
    font-size: 2em;
}


.text > p {
    margin-bottom: 30px;
    font-size: 1.4em
}


#main-div {
    height: 100%;
    display: grid;
    grid-template-areas:
        "search session session session"
        "search session session session"
        "result session session session"
        "result session session session";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 30px;
    box-sizing: border-box;
}

#search {
    grid-area: search;
    align-self: center;
    justify-self: center;
}

#search > form {
    margin-left: 30px;
    display: grid;
    grid-template-areas:
        "label label label"
        "input input button";
}
#search > form > label {
    grid-area: label;
    margin-bottom: 10px;
    justify-self: center;
    color: var(--c-text-light);
    font-size: 1.2em;
}

#char-name,
#char-search {
    border: 1px solid;
    padding: 10px 8px;
    background-color: var(--c-child);
    color: var(--c-text-light);
    font-size: 1.1em;
}

#char-name {
    grid-area: input;
    border-right-width: 0;
    border-radius: 5px 0 0 5px;
}
#char-search {
    grid-area: button;
    border-radius: 0 5px 5px 0;
}
#char-search:hover {
    background-color: #1C0E10;
}

#results,
#session {
    background-color: var(--c-child);
    border-radius: 10px;
    padding: 30px;
    display: none;
}

#results {
    grid-area: result;
    overflow: auto;

}

.name {
    align-self: center;
    justify-self: center;
}

.visible {
    display: block !important;
}

#session {
    background-color: var(--c-header);
    grid-area: session;
    position: relative;
    overflow: auto;
}

#session-overall {
    padding: 5px;
}
#session-events {
    padding: 5px;
}


#session-time,
#session-kd,
#session-kpm {
    color: var(--c-text-light);
    font-size: 1.5em;
}

#session-button {
    box-sizing: border-box;
    font-size: 1.1em;
    border: 0;
    margin: auto;
    display: block;
}


.session-on {
    display: block;
    margin: auto;
    position: static !important;
    transform: none !important;
}

.event {
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    font-size: 1.2em;
}

.kill {
    background-color: #067806;
}

.death {
    background-color: #970808;
}

.revive {
    background-color: #0B3C61;
}

.ammo {
    background-color: #383629;
}
