{% extends 'layout.html' %}
{% block title %}Index{% endblock %}
{% block main %}
    <div class="main-div">
        <div class="search">
            <form methods="GET">
                <label>Character Name</label>
                <input type="text" name="name" placeholder="Name"
                value={{ request.args.get('name', '') }}>
                <button type="submit">Search</button>
            </form>
        </div>
        <div id="results" class="results">
                <h2 id="name"></h2>
                <h3 id="status">Status: </h3>
                <h3 id="faction">Faction: </h3>
                <h3 id="character_id">Character ID: </h3>
                <h3 id="join_date">Joined: </h3>
                <h3 id="time_played">Time Played: </h3>
                <h3 id="level">Battlerank: </h3>
                <h3 id="prestige">Prestige: </h3>
                <h3 id="kills">Kills: </h3>
                <h3 id="deaths">Deaths: </h3>
                <h3 id="kd">K/D: </h3>
        </div>
        <div class="session">
            <button id="session-button">Start Session</button>
            <div class="session-overall">
                <h2>Session Time: 00:00:00</h2>
            </div>
            <div id="session-events">
                <div class="kill">
                    Killed SupaFarma
                </div>
                <div class="death">
                    Killed by SupaFarma
                </div>
            </div>
        </div>
    </div>
{% endblock %}
