{% extends 'layout.html' %}
{% block title %}Index{% endblock %}
{% block main %}
    <div class="index">
        <div class="picture">
        </div>
        <div class="text">
            <h1>Welcome to Planetside Search.</h1>
            <p>Planetside Search offers session tracking for characters and outfits.</p>
            <p>To start, select an option from the navigation and then search.</p>
            <p>You will then be able to track the player/outfit.</p>
            <p>All of the session tracking happens client side through your browser</p>
        </div>
    </div>
{% endblock %}
