{% extends 'layout.html' %}
{% block title %}Index{% endblock %}
{% block main %}
    <div class="main-div">
        <div class="search">
            <form methods="GET">
                <label>Outfit Name</label>
                <input id="char-name" type="text" name="name" placeholder="Name"
                value={{ request.args.get('name', '') }}>
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="results">
        </div>
        <div class="session">
        </div>
        {% if request.args.get('name') %}
            <script src="{{ url_for('static', filename='js/outfit.js') }}"></script>
            <script>
                initializeOutfit("{{ request.args.get('name', '') }}");
            </script>
        {% endif %}
    </div>
{% endblock %}
